* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

header {
  position: fixed;
  top: 0;
}

header img{
  width: 100%;
}

.socialNav{
  width: 50%;
  height: 6%;
  position: fixed;
  top: 0.7%;
  right: 10%;
  text-align: right;
}

.socialNav img {
  display: inline;
  width: 5%;
  margin-right: 3%;
}

nav {
  width: 50%;
  position: fixed;
  top: 0.7%;
  left: 30%;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 5%;
  color: black;
}

nav a:hover {
  color: #F8A11C;
}

/*Main*/
main {
  margin-top: 5%;
}

.container {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

.container h2 {
  margin-bottom: 2%;
  color: #F8A11C;
  text-transform: uppercase;
}
.container h3 {
  margin-bottom: 2%;
  color: #F8A11C;
  text-transform: uppercase;
}

.container p {
  margin: 1% 0;
  text-align: justify;
}

/*Parallax*/

section.module.parallax {
  /*height: 450px;*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5% 1%;
  margin-top: -3%;
}

/*Section FAQ*/

section.module.content-1 {
  background-image: url("../img/contentback.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5%;
  padding-bottom: 5%;
}
section.module.content-1 p {
  text-align: justify;
}

.faq {
  display: none;
}

.faqkep01 {
  background: url('../img/faqkep01.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}
.faqkep021m {
  background: url('../img/faqkep01m.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}

.faqkep02 {
  background: url('../img/faqkep02.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}
.faqkep02m {
  background: url('../img/faqkep02m.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}

.faqkep03 {
  background: url('../img/faqkep03.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}
.faqkep03m {
  background: url('../img/faqkep03m.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}

.faqkep04 {
  background: url('../img/faqkep04.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}
.faqkep04m {
  background: url('../img/faqkep04m.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}

.faqkep05 {
  background: url('../img/faqkep05.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}
.faqkep05m {
  background: url('../img/faqkep05m.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}

.faqkep06 {
  background: url('../img/faqkep06.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}
.faqkep06m {
  background: url('../img/faqkep06m.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}

.faqkep07 {
  background: url('../img/faqkep07.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}
.faqkep07m {
  background: url('../img/faqkep07m.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}

.faqkep08 {
  background: url('../img/faqkep08.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}
.faqkep08m {
  background: url('../img/faqkep08m.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}

.faqkep09 {
  background: url('../img/faqkep09.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}
.faqkep09m {
  background: url('../img/faqkep09m.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}

.faqkep10 {
  background: url('../img/faqkep10.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}
.faqkep10m {
  background: url('../img/faqkep10m.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}

.faqkep11 {
  background: url('../img/faqkep11.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}
.faqkep11m {
  background: url('../img/faqkep11m.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}

.faqkep12 {
  background: url('../img/faqkep12.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}
.faqkep12m {
  background: url('../img/faqkep12m.png') no-repeat;
  background-size: contain;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 1.4em;
  display: block;
}

.show {
  display: block;
}


/*Section descriptiom*/

section.module.parallax-1 {
  background-image: url("../img/paraback.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: -5%;
  padding-top: 10%;
}

section.module.parallax-1 a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5%;
  background-color: #555;
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3%;
}

section.module.parallax-1 a:hover {
  background-color: #333;
  color: #F8A11C;
}

/**/
section.module.parallax-2 {
  background-image: url("../img/paraback2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

section.module.parallax-2 a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5%;
  background-color: #555;
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3%;
}

section.module.parallax-2 a:hover {
  background-color: #333;
  color: #F8A11C;
}

section.module.parallax-2 h4 {
  display: block;
  text-align: center;
  margin: 3% 0;
}

/**/
section.module.content-2 {
  padding: 1%;
  text-align: center;
  background-color: #333;
}

section.module.content-2 h6 {
  font-size: 1em;
  color: white;
}

iframe {
  width: 100%;
}
